@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-semiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-LightItalic";
    src: url("../fonts/Poppins-LightItalic.ttf");
}
header {
    padding-bottom: 15px;
    padding-top: 15px;
}

header .row {
    justify-content: space-between;
}

.pages .row {
    gap: 30px;
}

header .row a {
    font-size: 18px;
    font-family: "Poppins";
    color: #5B5B5B;
}

.maneger .row {
    gap: 18.5px;
}

.maneger h2 {
    font-size: 15px;
    font-family: "Poppins";
}