@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-semiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-LightItalic";
    src: url("../fonts/Poppins-LightItalic.ttf");
}
header {
    padding-bottom: 15px;
    padding-top: 15px;
}

header .row {
    justify-content: space-between;
}

.pages .row {
    gap: 30px;
}

header .row a {
    font-size: 18px;
    font-family: "Poppins";
    color: #5B5B5B;
}

.maneger .row {
    gap: 18.5px;
}

.maneger h2 {
    font-size: 15px;
    font-family: "Poppins";
}
.lessons .container {
    background-color: #dfefff;
}

.lessons .top .row {
    justify-content: flex-start;
}

.lessons .top h2 {
    margin: 20px 450px 0px 15px;
    font-family: "Poppins-semiBold";
    font-size: 20px;
}

.lessons .top a {
    color: #49BBBD;
    font-size: 11px;
    font-family: "Poppins-Bold";
    margin-top: 20px;
}

.lessons .top {
    margin-bottom: 25px;
}

.lessons .lesson {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: calc((100% - 80px) / 3);
    padding: 15px;
    margin-bottom: 80px;
}

.lessons .row {
    justify-content: space-evenly;
}

.lessons .lesson .image {
    width: 100%;
}

.lessons .lesson h3 {
    font-family: "Poppins-medium";
    font-size: 15px;
    color: #252641;
}

.lessons .lesson .row {
    justify-content: flex-start;
}

.lessons .lesson .row h3 {
    font-size: 10px;
}

.lessons .lesson .row img {
    width: 10%;
}

.lessons .lessons p {
    margin-left: 210px;
    font-size: 10px;
    color: #000000;
    font-family: "Poppins-semiBold";
}
.courses .row .course {
    width: calc((100% - 100px) / 4);
    text-align: center;
    background-color: #FFFFFF;
}

.courses .row {
    justify-content: space-between;
    gap: 25px;
}

.courses h2 {
    font-family: "Poppins-semiBold";
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #252641;
}

.courses .course h3 {
    font-family: "Poppins-semiBold";
    margin-top: 13px;
    margin-bottom: 20px;
}

.courses .course p {
    font-family: "Poppins";
    font-size: 12px;
    color: #696984;
    margin-bottom: 60px;
}

.courses .course img {
    padding: 20px;
}

.course .Design-img {
    background-color: #b0e4e5;
}

.course .Development-img {
    background-color: #d9def7;
}

.course .Development1-img {
    background-color: #d5e9ff;
}

.course .Business-img {
    background-color: #abe6e7;
}

.course .Marketing-img {
    background-color: #f4dec0;
}

.course .Photography-img {
    background-color: #efc9c7;
}

.course .Acting-img {
    background-color: #d8d8dc;
}
.recomendation {
    margin-bottom: 60px;
}

.recomendation .container {
    background-color: #dfefff;
}

.recomendation .container .secondcontainer {
    width: calc(100% - 100px);
    margin: auto;
}

.head .row h2 {
    margin: 60px 660px 40px 0px;
    font-family: "Poppins-medium";
    font-size: 18px;
}

.head .row a {
    color: #49BBBD;
    font-size: 11px;
    font-family: "Poppins-Bold";
    margin-top: 20px;
}

.recomendation .recommend {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: calc((100% - 90px) / 4);
    padding: 10px;
    margin-bottom: 60px;
}

.recomendation .recommendedCoursess {
    gap: 30px;
    justify-content: space-evenly;
}

.recomendation .recommend .remendImage {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.recomendation .recommend .icons {
    width: 8%;
    margin-right: 5px;
}

.recommend .recommendtop p {
    font-family: "Poppins-medium";
    font-size: 9px;
    color: #696984;
}

.recomendation .recommend .topGap {
    margin-right: 75px;
}

.recomendation .recommend h3 {
    font-family: "Poppins-medium";
    font-size: 15px;
    color: #252641;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommendP {
    font-family: "Poppins-medium";
    font-size: 11px;
    color: #696984;
    margin-bottom: 10px;
}

.recommendBottom img {
    width: 15%;
}

.recommendBottom h4 {
    font-family: "Poppins-medium";
    font-size: 10px;
    margin-right: 70px;
}

.beforeDiscount {
    font-family: "Poppins-LightItalic";
    opacity: 50%;
    font-size: 11px;
    text-decoration: line-through;
    margin-right: 10px;
}

.afterDiscount {
    font-family: "Poppins-Bold";
    font-size: 15px;
    color: #49BBBD;
}

.Back-ground .container {
    background-color: #ffffff;
}

.head .row .tittleSection4 {
    margin-right: 620px;
}
footer {
    background-color: #252641;
    overflow: auto;
}

footer .footerTop {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer .footerTop .container {
    width: calc(100% - 900px);
    margin: auto;
}

.footerTop .row {
    justify-content: space-between;
    gap: 0px;
}

.footerTop h3 {
    color: #ffffff;
}

.footerTop .logoName {
    font-family: "Poppins-Bold";
    margin-left: 50px;
}

.footerTop h3 {
    width: 130px;
    font-family: "Poppins-semiBold";
}

.Subscribe {
    margin-left: 500px;
    color: #B2B3CF;
    font-family: "Poppins-medium";
    margin-bottom: 10px;

}

.footerBody form {
    margin-left: 430px;
}

[type="email"] {
    border-radius: 80%;
    width: 400px;
    height: 60px;
    border: #FFFFFF solid 1px;
    margin-right: 20px;
    background-color: #252641;
}

[type="submit"] {
    padding: 2%;
    width: 150px;
    height: 50px;
    border-radius: 60%;
    background-color: #49BBBD;
}

.footerfooter {
    margin-top: 30px;
    margin-left: 50px;
}

.footerfooter .container {
    width: calc(100% - 900px);
    margin: auto;
}

.footerfooter .row {
    justify-content: space-between;
    gap: 10px;
}

.footerfooter .row img {
    height: 45px;
}

.footerfooter .row p {
    font-family: "Poppins";
    color: #B2B3CF;
    font-size: 12px;
}

.footerclass {
    margin: 6px 0px 10px 550px;
    font-family: "Poppins";
    color: #B2B3CF;
    font-size: 12px;
}
@media screen and (min-width : 320px) and (max-width : 600px) {
    header .container {
        width: calc(100% - 60px);
    }

    header .pages {
        display: none;
    }

    .maneger .row {
        gap: 5px;
    }

    .maneger img {
        width: 30px;
    }

    .maneger h2 {
        font-size: 14px;
    }

    header .logo img {
        width: 50px;
    }

    .lessons .container {
        width: calc(100% - 60px);
    }

    .lessons .top h2 {
        font-size: 13px;
        margin-right: 50px;
    }

    .lessons .top a {
        margin-left: 15px;
        margin-top: 10px;
    }

    .lessons .lesson {
        padding: 8px;
        margin-bottom: 20px;
    }

    .lessons .lesson h3 {
        font-size: 13px;
    }

    .lessons .lessons p {
        margin-left: 10px;
        font-size: 10px;
    }

    .lessons .lesson .image {
        width: 100%;
    }
        .courses .container {
        width: calc(100% - 60px);
    }

    .courses .row .course {
        width: calc((100% - 30px) / 3);
    }

    .courses .course img {
        padding: 10px;
    }

    .courses .course h3 {
        font-size: 1;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .courses .course p {
        margin-bottom: 20px;
        font-size: 9px;
    }

    .courses .row {
        gap: 6px;
        justify-content: space-evenly;
    }
        .recomendation .container {
        width: calc(100% - 60px);
    }

    .recomendation .container .secondcontainer {
        width: calc(100% - 50px);
        margin: auto;
    }

    .head .row h2 {
        margin: 30px 0px 20px 0px;
        font-size: 13px;
    }

    .head .row a {
        font-size: 10px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .recomendation .recommend {
        width: calc((100% - 30px) / 2);
        padding: 10px;
        margin-bottom: 40px;
    }

    .recomendation .recommend h3 {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .recomendation .recommend .remendImage {
        height: 130px;
    }

    .recomendation .recommend .topGap {
        margin-right: 10px;
    }

    .recommend .recommendtop p {
        font-size: 7px;
    }

    .beforeDiscount {
        margin-right: 6px;
    }

    .recommendBottom h4 {
        margin-right: 20px;
    }

    .afterDiscount {
        font-size: 10px;
        margin-left: 57px;
    }

    .head .row .tittleSection4 {
        margin-right: 0px;
    }
    footer .footerTop .container {
        width: calc(100% - 60px);
        margin: auto;
    }

    .linetop {
        width: 2px;
        height: 80px;
    }

    footer .footerTop {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footerBody form {
        margin-left: 70px;
    }

    [type="email"] {
        width: 150px;
        height: 50px;
        border: 2px #83839A solid;
        border-radius: 60%;
    }

    .footerfooter .container {
        width: calc(100% - 60px);
        margin: auto;
    }

    .footerfooter .row {
        justify-content: space-between;
        gap: 5px;
    }

    .Subscribe {
        margin-left: 70px;
        margin-bottom: 10px;
    }

    [type="submit"] {
        width: 80px;
        height: 50px;
    }

    .footerclass {
        margin: 6px 0px 10px 120px;
        font-size: 12px;
    }
}
@media screen and (min-width : 600px) and (max-width : 935px) {
    header .container {
        width: calc(100% - 120px);
    }

    header .logo img {
        width: 50px;
    }

    .maneger img {
        width: 30px;
    }

    .row a {
        font-size: 12px;
    }

    .lessons .container {
        width: calc(100% - 120px);

    }

    .lessons .top h2 {
        font-size: 13px;
        margin-right: 50px;
    }

    .lessons .lessons p {
        margin-left: 70px;
        font-size: 10px;
    }

    .courses h2 {
        font-size: 25px;
    }
       .recomendation .container {
        width: calc(100% - 60px);
    }

    .recomendation .container .secondcontainer {
        width: calc(100% - 50px);
        margin: auto;
    }

    .head .row h2 {
        margin: 30px 0px 20px 0px;
        font-size: 20px;
    }

    .head .row a {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 330px;
    }

    .recomendation .recommend {
        width: calc((100% - 30px) / 2);
        padding: 10px;
        margin-bottom: 40px;
    }

    .recomendation .recommend h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .recomendation .recommend .remendImage {
        height: 130px;
    }

    .recomendation .recommend .topGap {
        margin-right: 120px;
    }

    .recommend .recommendtop p {
        font-size: 12px;
    }

    .recommendP {
        font-size: 15px;
    }

    .beforeDiscount {
        margin-right: 10px;
        font-size: 15px;
    }

    .recommendBottom h4 {
        margin-right: 120px;
        font-size: 15px;
    }

    .afterDiscount {
        font-size: 15px;
        margin-left: 0px;
    }

    .head .row .tittleSection4 {
        margin-right: 0px;
    
}
footer .footerTop .container {
        width: calc(100% - 400px);
        margin: auto;
    }
    .linetop {
        width: 4px;
        height: 80px;
    }

    footer .footerTop {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .footerBody form {
        margin-left: 230px;
    }

    [type="email"] {
        width: 200px;
        height: 50px;
        border: 2px #83839A solid;
        border-radius: 60%;
    }

    .footerfooter .container {
        width: calc(100% - 400px);
        margin: auto;
    }

    .footerfooter .row {
        justify-content: space-between;
        gap: 5px;
    }

    .Subscribe {
        margin-left: 220px;
        margin-bottom: 15px;
    }

    [type="submit"] {
        width: 80px;
        height: 50px;
    }

    .footerclass {
        margin: 6px 0px 10px 280px;
        font-size: 12px;
    }
}